* {
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

/* Sets "View Highscore" button at the top left of the page and the timer at the top right of the page */
.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

main {
    text-align: center;
    justify-content: center;
    flex: 1 0 auto;
    margin-left:200px;
    margin-right:200px;
}

footer {
    text-align: center;
}

/* Helps the user to resize the page with the question page showing without any errors */
.questionPage {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

/* Used to hide all bullet points on all the lists created */
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    padding-left: 50px;
}

li {
    margin-bottom: 10px;
}

/* This is used to hide all the sections in the HTML while using the webpage */
.questionPage, .submitResults, .highScorePage, #bottomLine {
    display:none;
}

/* Used to design the buttons being used */
.button {
    background:white;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}
  
.button:hover{
    background-color:rgb(205, 245, 247);
}